@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  font-family: sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

article > h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 24px 0;
  position: relative;
}

article > h2::before {
  content: '';
  width: 6px;
  height: 30px;
  background-color: rgb(0, 122, 204);
  position: absolute;
  left: -16px;
  top: 2px;
}

.rehype-code-title {
  font-weight: 500;
  text-align: right;
}
